﻿@{
    ViewBag.Title = "Turizm";
}


@*<h3>@ViewBag.Message</h3>*@
<body style="background-image:url()">
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success" style="background-color:lightgreen;">
                <div class="panel-heading ">Tarih ve Kültür </div>
                <div class="panel-body">
                    <div class="col-md-5">
                        <img src="~/Content/img/o-ISTANBUL-facebook.jpg" class="img-thumbnail" alt="Cinque Terre" width="500" height="400">
                    </div>
                    <div class="col-md-7">
                        <h2>
                            Sultan Ahmet Camii
                        </h2>
                        <p>
                            1609-1617 yılları arasında Osmanlı Padişahı
                            I. Ahmed tarafından İstanbul'daki tarihî yarımadada,
                            Mimar Sedefkâr Mehmed Ağa'ya yaptırılmıştır.[1] Cami mavi
                            , yeşil ve beyaz renkli İznik çinileriyle bezendiği için ve
                            yarım kubbeleri ve büyük kubbesinin içi de yine mavi ağırlıklı
                            kalem işleri ile süslendiği için Avrupalılarca "Mavi Camii
                            (Blue Mosque)" olarak adlandırılır. Ayasofya'nın 1935 yılında
                            camiden müzeye dönüştürülmesiyle,
                            İstanbul'un ana camii konumuna ulaşmıştır.
                        </p>
                        <p><a class="btn btn-default" href="#">okumaya devamet&raquo;</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <div class="panel panel-success" style="background-color:lightgreen;">
                    <div class="panel-heading ">Ünlü Yerler</div>
                    <div class="panel-body">
                        <div class="col-md-5">
                            <img src="~/Content/img/slide1.jpg" class="img-thumbnail" alt="Cinque Terre" width="500" height="400">
                        </div>
                        <div class="col-md-7">
                            <h2>
                                Sultan Ahmet Camii
                            </h2>
                            <p>
                                Hello
                            </p>
                            <p><a class="btn btn-default" href="#">okumaya devamet&raquo;</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <div class="panel panel-success" style="background-color:lightgreen;">
                    <div class="panel-heading ">Yaz Seyahatı </div>
                    <div class="panel-body">
                        <div class="col-md-5">
                            <img src="~/Content/img/slide4.jpg" class="img-thumbnail" alt="Cinque Terre" width="500" height="400">
                        </div>
                        <div class="col-md-7">
                            <h2></h2>
                            <p>

                            </p>
                            <p><a class="btn btn-default" href="#">okumaya devamet&raquo;</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <div class="panel panel-success" style="background-color:lightgreen;">
                    <div class="panel-heading ">Antika </div>
                    <div class="panel-body">
                        <div class="col-md-5">
                            <img src="~/Content/img/slide3.jpg" class="img-thumbnail" alt="Cinque Terre" width="500" height="400">
                        </div>
                        <div class="col-md-7">
                            <h2></h2>
                            <p>

                            </p>
                            <p><a class="btn btn-default" href="#">okumaya devamet&raquo;</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>