﻿
@{
    ViewBag.Title = "Haberler";
}
<body style="background-color:black;">
    <div class="row col-md-12" style="background-color:black;padding-right : unset ; padding-left : unset; text-align:center; color:white;">
        <h2 style="font-family:serif">Haberler</h2>
        <br />
    </div>
    <div class="row">
        <div class="panel panel-danger col-md-5 " style="padding-right : unset ; padding-left : unset; text-align:center;">
            <div class="panel-heading">Ekonomik</div>
            <div class="panel-body" style="background-color:lightcoral;">
                <div class="row">

                </div>
                <div class="row">
                    <img src="~/Content/img/haber.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="300">
                </div>
                <div class="row">
                    <h3 style="color:darkblue;">
                        Ekimde 425 Yatırım Teşvik Belgesi Verildi
                    </h3>
                    <p style="color:black;">
                        Belge alan projelerin sabit yatırım tutarı 8,5 milyar lira olarak hesaplandı.
                    </p>
                    <p><a class="btn btn-default" href="#">Daha fazlası için &raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-1">

        </div>

        <div class="panel panel-danger col-md-5 " style="padding-right : unset ; padding-left : unset; text-align:center;">
            <div class="panel-heading">TÜRKİYE</div>
            <div class="panel-body" style="background-color:lightcoral;">
                <div class="row">
                    <img src="~/Content/img/haber1.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="300">
                </div>
                <div class="row">
                    <h3 style="color:darkblue;">
                        Hiçbir terör örgütü ülkemizi bölemeyecek
                    </h3>
                    <p style="color:black;">
                        Adalet Bakanı Bozdağ, "Hiçbir terör örgütü, hiçbir eylemiyle Türkiye’yi yürüyüşünden caydıramayacaktır, ülkemizi böldüremeyecektir, bölemeyecektir" dedi.
                    </p>
                    <p><a class="btn btn-default" href="http://www.trthaber.com/haber/gundem/hicbir-teror-orgutu-ulkemizi-bolemeyecek-288776.html">Daha fazlası için &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="panel panel-danger col-md-5 panell" style="padding-right : unset ; padding-left : unset; text-align:center;">
            <div class="panel-heading">Dünya</div>
            <div class="panel-body" style="background-color:lightcoral;">
                <div class="row">
                    <img src="~/Content/img/haber2.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="300">
                </div>
                <div class="row">
                    <h3 style="color:darkblue;">
                        Esed rejimi Lazkiye kırsalını vurdu
                    </h3>
                    <p style="color:black;">
                        Suriye'de Beşşar Esed'e ait birlikler, savaş uçaklarının desteğiyle Lazkiye kırsalını vurdu.
                    </p>
                    <p><a class="btn btn-default" href="http://www.trthaber.com/haber/dunya/esed-rejimi-lazkiye-kirsalini-vurdu-288769.html">Daha fazlası için &raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-1">

        </div>
        <div class="panel panel-danger col-md-5 panell" style="padding-right : unset ; padding-left : unset; text-align:center;">
            <div class="panel-heading">Spor</div>
            <div class="panel-body" style="background-color:lightcoral;">
                <div class="row">
                    <img src="~/Content/img/haber3.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="300">
                </div>
                <div class="row">
                    <h3 style="color:darkblue;">
                        Galatasaray kafilesi Ankara'da
                    </h3>
                    <p style="color:black;">
                        Galatasaray, Spor Toto Süper Lig'in 15. haftasında yarın Osmanlıspor ile yapacağı karşılaşma için Ankara'ya geldi.
                    </p>
                    <p><a class="btn btn-default" href="http://www.trthaber.com/haber/spor/galatasaray-kafilesi-ankarada-288792.html">Daha fazlası için &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
</body>