﻿@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-danger">
            <div class="panel-heading">HABERLERDEN</div>
            <div class="panel-body" style="background-color:lightcoral;">
                <div class="col-md-5">
                    <img src="~/Content/img/haber.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="300">
                </div>
                <div class="col-md-7">
                    <h3>
                        Ekimde 425 Yatırım Teşvik Belgesi Verildi
                    </h3>
                    <p>
                        Belge alan projelerin sabit yatırım tutarı 8,5 milyar lira olarak hesaplandı.
                    </p>
                    <p><a class="btn btn-default" href="#">Daha fazlası için &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="button col-md-4">
        <p>AD : MOHAMAD OBADAH <br />SOYAD : ZARIFA <br />NUMARA : G151210568</p>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div>
            <div class="panel panel-success" style="background-color:lightgreen;">
                <div class="panel-heading ">Turizim </div>
                <div class="panel-body">
                    <div class="col-md-5">
                        <img src="~/Content/img/o-ISTANBUL-facebook.jpg" class="img-thumbnail" alt="Cinque Terre" width="500" height="400">
                    </div>
                    <div class="col-md-7">
                        <h2>
                            Sultan Ahmet Camii
                        </h2>
                        <p>
                            1609-1617 yılları arasında Osmanlı Padişahı
                            I. Ahmed tarafından İstanbul'daki tarihî yarımadada,
                            Mimar Sedefkâr Mehmed Ağa'ya yaptırılmıştır.[1] Cami mavi
                            , yeşil ve beyaz renkli İznik çinileriyle bezendiği için ve
                            yarım kubbeleri ve büyük kubbesinin içi de yine mavi ağırlıklı
                            kalem işleri ile süslendiği için Avrupalılarca "Mavi Camii
                            (Blue Mosque)" olarak adlandırılır. Ayasofya'nın 1935 yılında
                            camiden müzeye dönüştürülmesiyle,
                            İstanbul'un ana camii konumuna ulaşmıştır.
                        </p>
                        <p><a class="btn btn-default" href="#">okumaya devamet&raquo;</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <div class="panel panel-info" style="background-color:lightskyblue;">
            <div class="panel-heading ">FUARLAR </div>
            <div class="panel-body">
                <div class="col-md-5">
                    <img src="~/Content/img/fuar3.jpg" class="img-thumbnail" alt="Cinque Terre" width="500" height="400">
                </div>
                <div class="col-md-7">
                    <h3>
                        OTOMASYON SEKTÖRÜ "BURSA ENDÜSTRİ ZİRVESİ" İLE EŞ ZAMANLI DÜZENLENECEK
                    </h3>
                    <p>
                        Fuarların yurtiçi ve yurtdışı tanıtımlar neticesinde,
                        yerli ve yabancı iş adamlarının profesyonel anlamda
                        katılımcılar ile bağlantılar kurmasını sağlayarak,
                        bölge ticaretine katkıda bulunacaktır.
                    </p>
                    <p><a class="btn btn-default" href="#">okumaya devamet &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
